/* ==========================================================================
   Login Box styles
   ========================================================================== */
@font-face {
	font-family: 'GE Dinar One Medium';
	src: url('../fonts/GE Dinar One Medium.eot');
	src: url('../fonts/GE Dinar One Medium.woff') format('woff'), url('../fonts/GE Dinar One Medium.ttf') format('truetype'), url('../fonts/GE Dinar One Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'ge dinarone bold';
	src: url('../fonts/ge dinarone bold.eot');
	src: local('☺'), url('../fonts/ge dinarone bold.woff') format('woff'), url('../fonts/ge dinarone bold.ttf') format('truetype'), url('../fonts/ge dinarone bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}  
 
body{
	/*background: url(../images/bg/brushed_alu.png) repeat;*/
	color: #FFF;
	    margin: 0;
    padding: 0;
    background: #F3F3F3 url(../images/bg.jpg) no-repeat center 0;
    background-image: linear-gradient(transparent,transparent),url(../images/bg.jpg);
    background-size: 100%;
    background-size: cover;
   
}
.alert{
	margin: 20px auto;
	width: 70%;
}
#login-block{	 
	padding-top: 0px;
	padding-bottom: 15px;
}
#login-block h3{
	color: #FFF;
	text-align: center;
	font-size:1.5em;
	 opacity: 0.8;
	text-shadow: 2px 2px 2px #000;
	font-weight: normal;
 
}

.login-box{
	position: relative;
	max-width:480px;	
	background: #16A085;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	padding-bottom: 20px; 
	margin-top: 80px; 
}

.login-logo{
	 text-align: center;
	 padding: 15px 0 10px;
}

.login-logo img{
	border:0;
	width:151px;
	display: inline-block;
}
.login-form form p{
	width:80%;
	margin: 5px auto 10px;
	text-align: center;
	font-family: 'GE Dinar One Medium';
}
 

.login-box hr{
	margin:10px auto 20px;
	width:70%;
	border-top: 1px solid rgba(0, 0, 0, 0.13);
	border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}
/* page icon */
.page-icon{
	width: 100px;
	height:100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background: #198573;
	text-align: center; 
	margin: -60px auto 0;
	
}
.page-icon img{
	vertical-align: middle; 
	margin: 25px 0 0 0;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	opacity: 0.6;
	width:48px;
	height:48px;
	 
}
.rotate-icon{
	 -moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform: rotate(45deg);
}
.login-box .page-icon{
	-webkit-animation-delay: .8s;
	-moz-animation-delay: .8s;
	-o-animation-delay: .8s;
	animation-delay: .8s;
}
/* Login Form */
.login-form input{
	display: block;
	margin:0 auto 15px;
	width:70%;
	background: #fefefe;
	border:0;
	color:#6c6c6c;
	text-align:right;
	font-family: 'GE Dinar One Medium';
	padding: 8px;
	border-radius:2px;
	
}

/* Login Form2 */
.login-form2 input{
	display: block;
	margin:0 auto 15px;
	width:60%;
	background: #fefefe;
	border:0;
	color:#6c6c6c;
	text-align:right;
	font-family: 'GE Dinar One Medium';
	padding: 8px;
	border-radius:2px;
	
}

/* Login Button */
.btn.btn-login {
	width: 120px;
	display:block;
	margin: 20px auto 20px;
	color: white;
	text-transform:uppercase ;
	font-family: 'GE Dinar One Medium';	 
	background: #198573; 
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	
}
.btn.btn-login:hover {	 
	border:1px solid #FFF;
	opacity: 0.8;
} 
.btn.btn-reset{
	width: 180px;
}

.logo-text{
	text-align:center;
	color:#FFF;
	font-family: 'ge dinarone bold';
	font-size:16px;
}

.login-links{
	text-align: center;
}
.login-links a{
	color: #FFF; 
	display:inline-block;
	padding:5px; 
	font-family: 'GE Dinar One Medium';
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	opacity: 0.7;
}
.login-links a:hover{
	 opacity: 1;
	 text-decoration: none;
}

label.checkbox {
	width: 60%;
	display: block;
	margin: 0 auto;
	text-align:right;
	font-family: 'GE Dinar One Medium';
}
label.checkbox input{
	width:14px;
	margin: 4px 0 0;
	padding: 0;
	background: none;
	border: 0;
}
#footer-text, #footer-text a{
	text-align: center; 
	color: #999;
	font-family: 'GE Dinar One Medium';
	opacity: 1; 
}

/* Social Login */
.social-login{
	margin:10px 0 5px;
}
.social-login .btn{ 
   text-align: center;
   font-family: 'GE Dinar One Medium';
    margin: 5px auto;
    color:#FFF;
    text-shadow: 1px 1px 1px #333;
    width:95%;
}
 
.btn.btn-facebook {
	border: 1px solid #2D4479;
	 
	background: #385496;
	background-size: 100%; 
	font-size:12px;
}
.btn.btn-facebook:hover {
	background: #4365B4;
	 
}

.btn.btn-twitter {
	border: 1px solid #2189FF; 
	background: #4A9EFF; 
	font-size:12px;
}

.btn.btn-twitter:hover {
	background: #73B4FF; 
}
.fb-login, .twit-login{
	-webkit-animation-delay: .9s;
	-moz-animation-delay: .9s;
	-o-animation-delay: .9s;
	animation-delay: .9s;
}

.demo-download {
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 20px auto 20px;
  
  background:url(../img/Finger_Print3.png);
  background-size:40px ;
 background-color:#fff;
 background-position:center;
  background-repeat: no-repeat;
  border-radius: 50%;
  }
.demo-download img {
  width: 35px;
  }
  
  .demo-download:hover {
	background:url(../img/Finger_Print5.png);
	background-size:40px ;
	background-position:center;
 background-color:#fff;
  background-repeat: no-repeat;
  
  }

.rotate{
-webkit-transition-duration: 0.8s;
-moz-transition-duration: 0.8s;
-o-transition-duration: 0.8s;
transition-duration: 0.8s;
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;
overflow:hidden;

}

.rotate:hover
{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
}


/* For Long Shadow 
=================================================================== */  


.page-icon-shadow { 
	width: 100px;
	height:100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background: transparent;
	text-align: center; 
	margin: -60px auto 0;
	background: transparent;
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	-o-animation-delay: 0.8s;
	animation-delay: 0.8s;	
	bottom: -120px;
	position: relative; 
    box-shadow: rgb(206, 210, 214) 1px 1px,
    rgb(206, 210, 214) 2px 2px,
    rgb(206, 210, 214) 3px 3px,
    rgb(206, 210, 214) 4px 4px,
    rgb(206, 210, 214) 5px 5px,
    rgb(206, 210, 214) 6px 6px,
    rgb(206, 210, 214) 7px 7px,
    rgb(206, 210, 214) 8px 8px,
    rgb(206, 210, 214) 9px 9px,
    rgb(206, 210, 214) 10px 10px,
    rgb(206, 210, 214) 11px 11px,
    rgb(206, 210, 214) 12px 12px,
    rgb(206, 210, 214) 13px 13px,
    rgb(206, 210, 214) 14px 14px,
    rgb(206, 210, 214) 15px 15px,
    rgb(206, 210, 214) 16px 16px,
    rgb(206, 210, 214) 17px 17px,
    rgb(206, 210, 214) 18px 18px,
    rgb(206, 210, 214) 19px 19px,
    rgb(206, 210, 214) 20px 20px,
    rgb(206, 210, 214) 21px 21px,
    rgb(206, 210, 214) 22px 22px,
    rgb(206, 210, 214) 23px 23px,
    rgb(206, 210, 214) 24px 24px,
    rgb(206, 210, 214) 25px 25px,
    rgb(206, 210, 214) 26px 26px,
    rgb(206, 210, 214) 27px 27px,
    rgb(206, 210, 214) 28px 28px,
    rgb(206, 210, 214) 29px 29px,
    rgb(206, 210, 214) 30px 30px,
    rgb(206, 210, 214) 31px 31px,
    rgb(206, 210, 214) 32px 32px,
    rgb(206, 210, 214) 33px 33px,
    rgb(206, 210, 214) 34px 34px,
    rgb(206, 210, 214) 35px 35px,
    rgb(206, 210, 214) 36px 36px,
    rgb(206, 210, 214) 37px 37px,
    rgb(206, 210, 214) 38px 38px,
    rgb(206, 210, 214) 39px 39px,
    rgb(206, 210, 214) 40px 40px,
    rgb(206, 210, 214) 41px 41px,
    rgb(206, 210, 214) 42px 42px,
    rgb(206, 210, 214) 43px 43px,
    rgb(206, 210, 214) 44px 44px,
    rgb(206, 210, 214) 45px 45px,
    rgb(206, 210, 214) 46px 46px,
    rgb(206, 210, 214) 47px 47px,
    rgb(206, 210, 214) 48px 48px,
    rgb(206, 210, 214) 49px 49px,
    rgb(206, 210, 214) 50px 50px;
}  
.page-icon .glyphicon{
	font-size: 3em;
	line-height: 2.3em;
	text-shadow: rgb(20, 107, 93) 1px 1px,
    rgb(20, 109, 94) 2px 2px,
    rgb(20, 111, 96) 3px 3px,
    rgb(21, 112, 97) 4px 4px,
    rgb(21, 114, 99) 5px 5px,
    rgb(21, 116, 100) 6px 6px,
    rgb(22, 117, 102) 7px 7px,
    rgb(22, 119, 103) 8px 8px,
    rgb(22, 121, 104) 9px 9px,
    rgb(23, 122, 106) 10px 10px,
    rgb(23, 124, 107) 11px 11px,
    rgb(23, 126, 109) 12px 12px,
    rgb(24, 127, 110) 13px 13px,
    rgb(24, 129, 112) 14px 14px,
    rgb(24, 131, 113) 15px 15px;
}

#footer-text{
	position: relative;
} 
  
 
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {
	#login-block{	 
		padding-top: 0px;
		padding-bottom: 10px;
	}
	
}

/* Tablet Portrait Size to Tablet Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px){
	#login-block {	 
		margin: 0 auto;
		width: 420px;
	}
	
}


