@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: 'GE SS Two Medium';
  src: url("../fonts/GE SS Two Medium.eot?#iefix");
  src: url("../fonts/GE SS Two Medium.woff") format("woff"), url("../fonts/GE SS Two Medium.ttf") format("truetype"), url("../fonts/GE SS Two Medium.svg") format("svg"); }

@font-face {
   font-family: 'GE SS Two Bold';
   src: url("../fonts/GE SS Two Bold.eot?#iefix"); src: url('../fonts/GE SS Two Bold.woff') format('woff'), url('../fonts/GE SS Two Bold.ttf') format('truetype'), url('../fonts/GE SS Two Bold.svg') format('svg');
}

@font-face {
  font-family: "Neue Helvetica LTW20 Bold";
  src: url("../fonts/NeueHelveticaLTW20Bold.eot?#iefix");
  src: url("../fonts/NeueHelveticaLTW20Bold.eot?#iefix") format("eot"), url("../fonts/NeueHelveticaLTW20Bold.woff") format("woff"), url("../fonts/NeueHelveticaLTW20Bold.ttf") format("truetype"), url("../fonts/NeueHelveticaLTW20Bold.svg#NeueHelveticaLTW20Bold") format("svg"); }

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?28tbbl');
    src:    url('../fonts/icomoon.eot?28tbbl#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?28tbbl') format('truetype'),
        url('../fonts/icomoon.woff?28tbbl') format('woff'),
        url('../fonts/icomoon.svg?28tbbl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="mcon-"], [class*=" mcon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
/*	font-size:26px !important;*/
	width:1.25em;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mcon-stamb:before {
    content: "\e901";
}
.mcon-seal:before {
    content: "\e900";
	font-size:32px !important;
}
.mcon-office:before {
    content: "\e903";
}
.mcon-users:before {
    content: "\e972";
}

.m-widget27 .m-widget27__pic > img {
/*    height: auto;*/
    height: 170px;
}

.m-widget27 .m-widget27__container {
    margin-top: 2rem;
}

.nav.nav-pills, .nav.nav-tabs {
    margin-bottom: 0px;
}

.m-widget28 .m-widget28__container .m-widget28__nav-items .m-widget28__nav-item > a.active {
    background-color: #2d9484;
}
.m-widget28 .m-widget28__container .m-widget28__nav-items .m-widget28__nav-item > a {
    border: 1px solid #f2f1f0;
}
.nav.nav-pills .nav-link i, .nav.nav-tabs .nav-link i {
    line-height: 1;
}
.m-widget27 .m-widget27__pic .m-widget27__title > span {
    font-size: 2.2rem;
}